/* Element Plus Variables */

// Override Element Plus CSS variables
:root {
  --el-color-primary: #FF8BA7;
  --el-color-warning: #FFB302;
  --el-color-success: #13ce66;
  --el-color-danger: #ff4949;
  --el-color-info: #5d5d5d;
  --el-text-color-primary: #20232A;
  --el-text-color-regular: #818693;
  --el-text-color-placeholder: #BAC0CD;
  --el-border-color-base: #D8DDE3;
  --el-border-color-light: #dfe4ed;
  --el-border-color-lighter: #e6ebf5;
  --el-background-color-base: #F3F4F7;
  --el-font-weight-primary: 400;
  --el-border-radius-base: 4px;
}
